/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Efecto de aparición gradual del título */
h1 {
    color: #ff4d4d;
    font-size: 3em;
    opacity: 0;
    animation: fadeIn 2s ease-out 1s forwards;
}

/* Efecto de aparición gradual del párrafo */
p {
    font-size: 1.5em;
    color: #333;
    opacity: 0;
    animation: fadeIn 2s ease-out 2s forwards;
}

/* Animación para la aparición gradual */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Efecto de deslizamiento desde la izquierda para el título */
h1 {
    transform: translateX(-100%);
    animation: slideInLeft 1s ease-out forwards;
}

/* Efecto de deslizamiento desde la derecha para el párrafo */
p {
    transform: translateX(100%);
    animation: slideInRight 1s ease-out 0.5s forwards;
}

/* Animación para el deslizamiento del título */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Animación para el deslizamiento del párrafo */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Efecto de sombra y movimiento cuando se pasa el cursor sobre el título*
